{% extends "admin/change_list.html" %}

{% block extrahead %}
<style>
    .button-container {
        display: flex;
        justify-content: flex-end; /* Căn sang bên phải */
        margin-bottom: 10px;
    }
    .my-custom-button {
        background-color: #a855f7;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        cursor: pointer;
    }
    .my-custom-button:hover {
        background-color: #9333ea;
    }
</style>
{% endblock %}

{% block content %}
    <div class="button-container">
        <button class="my-custom-button">My Custom Button</button>
    </div>
    {{ block.super }}
{% endblock %}
